@import './spinner';
@import './base/section';
@import './components/form';
@import './components/gallery';

:root {
  --input-bg: #ded7f0;
  --btn-color: #514277;
  --placeholder: #887ea0;
  --active-btn-color: #3a2f55;
  --main-text-color: #4a4652;
  --stats-bgc: rgba(29, 29, 29, 0.7);
}

body {
  font-family: Roboto;
  background-image: url(../images/background.jpg);
  background-position: top;
}

p,
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

.list {
  list-style: none;
}

button.is-hidden {
  display: none;
}
