.search-form {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  padding: 0 15px;
  opacity: 1;
  transition: opacity 250ms linear;
}

.search-form.transparent {
  opacity: 0.7;
}

.search-form:hover {
  opacity: 1;
}

.search-form__input {
  height: 40px;
  width: 200px;
  // margin-right: 5px;
  padding-left: 15px;
  border: 1px solid;
  background-color: var(--input-bg);
  border-color: var(--active-btn-color);
  border-radius: 20px;
  color: var(--active-btn-color);
  font-size: 16px;
  transition: border-color 200ms linear;
}

.search-form__input::placeholder {
  color: var(--placeholder);
}

.search-form__input:focus {
  outline: none;
}

.input-container {
  position: relative;
  margin-right: 5px;
}

.search-form__spinner {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateX(-20px);
}

.search-form__btn,
.gallery__btn {
  border: none;
  padding: 5px 15px;
  height: 40px;
  border-radius: 20px;
  color: var(--input-bg);
  background-color: var(--btn-color);
  transition: background-color 250ms linear;
}

.search-form__btn:focus,
.search-form__btn:hover {
  background-color: var(--active-btn-color);
}

@media screen and (min-width: 480px) {
  .search-form__input {
    width: 250px;
  }
}

@media screen and (max-width: 319px) {
  .search-form__input {
    display: block;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
  }
}
